# Module 1 - Python Programming Basics

### Course Agenda

**1. Programming Basics**
- **Variables**: Declaration, initialization, and usage.
- **Operators**: Arithmetic, comparison, logical, assignment, and bitwise operators.
- **Decision Making**: `if`, `elif`, `else` statements for conditional execution.
- **Iteration**: `for` and `while` loops for repetitive tasks.
- **Sequences**: String manipulation and basic operations with lists.

---

**2. Data Structures in Python**
- **List**: Creation, indexing, slicing, and operations.
- **Tuple**: Immutable sequences, creation, and usage.
- **Set**: Unique elements, set operations like union, intersection, and difference.
- **Dictionary**: Key-value pairs, dictionary methods, and usage.

---

**3. Functions**
- **Function Arguments**: Positional, keyword, default arguments, and variable-length arguments.
- **Lambda Functions**: Anonymous functions, use cases, and syntax.
- **Function Objects**: Passing functions as arguments, returning functions from other functions.
- **Map, Filter, Reduce**: Functional programming tools for processing collections.

---

**4. Exception Handling**
- **Handling Exceptions**: `try`, `except`, `finally`, and `else` clauses.
- **Raising Exceptions**: Custom exceptions and usage.

---

**5. Object Oriented Programming (OOP)**
- **Classes and Objects**: Defining classes, creating objects, and understanding `self`.
- **Attributes and Methods**: Instance variables, class variables, and methods.
- **Inheritance**: Single and multiple inheritance, method overriding.
- **Polymorphism**: Method overloading and operator overloading.
- **Encapsulation**: Private variables and methods, using getters and setters.

---

**6. Regular Expressions**
- **Introduction to Regex**: Basic syntax and usage in Python.
- **Regex Functions**: `re.match()`, `re.search()`, `re.findall()`, `re.sub()`.
- **Common Patterns**: Character classes, quantifiers, groups, and anchors.

---

**8. Requests Library**
- **Introduction to HTTP Requests**: GET, POST, PUT, DELETE methods.
- **Making Requests**: Using `requests` to send HTTP requests and handle responses.
- **Handling JSON Data**: Parsing and processing JSON responses.

### Python Interface

A Python interface refers to the means through which you can interact with Python programs, libraries, or external systems. Here are a few different ways you can interface with Python:

**1. Interactive Python Shell (REPL)**
- **Description**: The Python Shell, also known as the Read-Eval-Print Loop (REPL), is an interactive command-line interface where you can type and execute Python commands one at a time. This is useful for quick experiments and debugging.
- **Example**: You can start the Python Shell by simply typing `python` or `python3` in your terminal or command prompt.

**2. Integrated Development Environments (IDEs)**
- **Popular IDEs**: PyCharm, Visual Studio Code, Spyder, Jupyter Notebook.
- **Description**: IDEs provide a comprehensive environment for writing, testing, and debugging Python code. They come with features like syntax highlighting, code completion, version control integration, and more.
- **Example**: PyCharm offers an advanced interface with debugging tools, refactoring support, and integration with version control systems like Git.

**3. Jupyter Notebooks**
- **Description**: Jupyter Notebooks are an interactive web-based environment where you can combine code execution, text, and visualizations in a single document. This is particularly useful for data analysis, machine learning, and teaching.
- **Example**: You can run Jupyter Notebooks by installing the Jupyter package and starting a notebook server with the command `jupyter notebook`.

**4. Command-Line Interface (CLI)**
- **Description**: Python scripts can be executed directly from the command line. You can write Python programs that take command-line arguments and perform tasks based on those arguments.
- **Example**: A Python script named `myscript.py` can be run using `python myscript.py` in the terminal.

**5. Google Colab Notebook**
- Can be access using - https://colab.research.google.com/
- Requires google sign-in

Each of these interfaces serves different purposes and can be chosen based on the specific requirements of your project or task.

<hr><hr>

#### Step-by-step guide to install Python and Visual Studio Code (VS Code) on Windows 11

**Step 1: Install Python**

1. Download Python:

   * Go to the official Python website: [https://www.python.org/downloads/](https://www.python.org/downloads/)
   * Click on the "Download Python" button to get the latest version.

2. Run the Installer:

   * Open the downloaded installer.
   * Check the box that says **"Add Python to PATH"**.
   * Click on **"Install Now"**.

3. Verify Installation:

   * Open Command Prompt.
   * Type `python --version` and press Enter.
   * You should see the installed Python version displayed.

---

**Step 2: Install Visual Studio Code (VS Code)**

1. Download VS Code:

   * Visit the official VS Code website: [https://code.visualstudio.com/download](https://code.visualstudio.com/download)
   * Click on the "Download for Windows" button.

2. Install VS Code:

   * Run the downloaded installer.
   * Follow the setup wizard:

     * Accept the license agreement.
     * Choose the installation location.
     * Select additional tasks (e.g., create a desktop icon, add to PATH).
   * Click **"Install"** to begin the installation.

3. Launch VS Code:

   * After installation, open VS Code from the Start menu or desktop shortcut.

---

**Step 3: Install Python Extension in VS Code**

1. Open Extensions View:

   * In VS Code, click on the Extensions icon on the left sidebar (or press `Ctrl+Shift+X`).

2. Search and Install Python Extension:

   * Type `Python` in the search bar.
   * Locate the extension named **"Python"** by Microsoft.
   * Click **"Install"**.

   This extension provides features like IntelliSense, linting, debugging, and more.&#x20;

---

**Step 4: Install Jupyter Extension in VS Code**

1. Search and Install Jupyter Extension:

   * In the Extensions view (`Ctrl+Shift+X`), type `Jupyter` in the search bar.
   * Find the extension named **"Jupyter"** by Microsoft.
   * Click **"Install"**.

   This extension allows you to work with Jupyter Notebooks directly within VS Code.&#x20;

---

**Step 5: Configure Python Interpreter in VS Code**

1. Open Command Palette:

   * Press `Ctrl+Shift+P` to open the Command Palette.

2. Select Python Interpreter:

   * Type `Python: Select Interpreter` and select it.
   * Choose the Python interpreter you installed earlier (e.g., Python 3.x.x).

   This ensures that VS Code uses the correct Python version for your projects.&#x20;

---

**Step 6: Create and Run a Jupyter Notebook**

1. Create a New Notebook:

   * In VS Code, press `Ctrl+Shift+P` to open the Command Palette.
   * Type `Jupyter: Create New Jupyter Notebook` and select it.

2. Write and Execute Code:

   * In the new notebook, you can add code cells and write Python code.
   * Click the play icon next to each cell to execute it.

   Ensure that the correct Python interpreter is selected for the notebook.&#x20;

---

## **Programming Basics**

- **Variables**: Declaration, initialization, and usage.
- **Operators**: Arithmetic, comparison, logical, assignment, and bitwise operators.
- **Decision Making**: `if`, `elif`, `else` statements for conditional execution.
- **Iteration**: `for` and `while` loops for repetitive tasks.
- **Sequences**: String manipulation and basic operations with lists.

### Python Data Types

Python has several built-in data types that allow you to store and manipulate different kinds of data. Here are the primary data types in Python:

<table style="width: 60%; border-collapse: collapse; border: 1px solid #ccc; text-align: center;margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th>Data Type</th>
      <th>Description</th>
      <th>Examples</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>int</td>
      <td>Integer numbers</td>
      <td>42, -7</td>
    </tr>
    <tr>
      <td>float</td>
      <td>Floating-point numbers (decimal)</td>
      <td>3.14, -0.001</td>
    </tr>
    <tr>
      <td>complex</td>
      <td>Complex numbers</td>
      <td>1+2j, -3+4j</td>
    </tr>
    <tr>
      <td>bool</td>
      <td>Boolean values</td>
      <td>True, False</td>
    </tr>
    <tr>
      <td>str</td>
      <td>String, a sequence of characters</td>
      <td>"hello", 'world'</td>
    </tr>
    <tr>
      <td>bytes</td>
      <td>Immutable sequence of bytes</td>
      <td>b'hello'</td>
    </tr>
  </tbody>
</table>

<br>

### Python Containers or Data structures

In Python, containers refer to data structures that hold multiple elements together. They provide a way to manage and organize collections of data. Here are some common types of containers in Python:

<table style="width: 60%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="text-align: left;">Data Structure</th>
      <th style="text-align: left;">Definition</th>
      <th style="text-align: left;">Syntax</th>
      <th style="text-align: left;">Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left;">List</td>
      <td style="text-align: left;">An ordered, mutable (changeable) collection of items.</td>
      <td style="text-align: left;">Created using square brackets []</td>
      <td style="text-align: left;">`[1, 2, 3, 4]`</td>
    </tr>
    <tr>
      <td style="text-align: left;">Tuple</td>
      <td style="text-align: left;">An ordered, immutable (unchangeable) collection of items.</td>
      <td style="text-align: left;">Created using parentheses ()</td>
      <td style="text-align: left;">`(1, 2, 3, 4)`</td>
    </tr>
    <tr>
      <td style="text-align: left;">Set</td>
      <td style="text-align: left;">An unordered collection of unique items.</td>
      <td style="text-align: left;">Created using curly braces {} or the set() function.</td>
      <td style="text-align: left;">`{1, 2, 3, 4}` or `set([1, 2, 3, 4])`</td>
    </tr>
    <tr>
      <td style="text-align: left;">Dictionary</td>
      <td style="text-align: left;">An unordered collection of key-value pairs. Keys must be unique and immutable.</td>
      <td style="text-align: left;">Created using curly braces {} with key-value pairs separated by colons :</td>
      <td style="text-align: left;">`{'a': 1, 'b': 2, 'c': 3}`</td>
    </tr>
  </tbody>
</table>

### Operators in Python
Operators are special symbols in Python that carry out computations. The value that the operator operates on is called as operand.

<table style="width: 60%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
        <th style="width: 20%; border: 1px solid #000; text-align: left;">Operator Type</th>
      <th style="width: 20%; border: 1px solid #000; text-align: left;">Operator</th>
      <th style="width: 60%;border: 1px solid #000; text-align: left;">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #000; text-align: left;" rowspan="7">Arithmetic</td>
      <td style="border: 1px solid #000; text-align: left;">+</td>
      <td style="border: 1px solid #000; text-align: left;">Addition</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">-</td>
      <td style="border: 1px solid #000; text-align: left;">Subtraction</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">*</td>
      <td style="border: 1px solid #000; text-align: left;">Multiplication</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">/</td>
      <td style="border: 1px solid #000; text-align: left;">Division</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">%</td>
      <td style="border: 1px solid #000; text-align: left;">Modulus (remainder of division)</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">**</td>
      <td style="border: 1px solid #000; text-align: left;">Exponentiation (power)</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">//</td>
      <td style="border: 1px solid #000; text-align: left;">Floor division (largest integer less than or equal to quotient)</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;" rowspan="6">Comparison</td>
      <td style="border: 1px solid #000; text-align: left;">==</td>
      <td style="border: 1px solid #000; text-align: left;">Equal to</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">!=</td>
      <td style="border: 1px solid #000; text-align: left;">Not equal to</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">&gt;</td>
      <td style="border: 1px solid #000; text-align: left;">Greater than</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">&lt;</td>
      <td style="border: 1px solid #000; text-align: left;">Less than</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">&gt;=</td>
      <td style="border: 1px solid #000; text-align: left;">Greater than or equal to</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">&lt;=</td>
      <td style="border: 1px solid #000; text-align: left;">Less than or equal to</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;" rowspan="3">Logical</td>
      <td style="border: 1px solid #000; text-align: left;">and</td>
      <td style="border: 1px solid #000; text-align: left;">Returns True if both statements are true</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">or</td>
      <td style="border: 1px solid #000; text-align: left;">Returns True if at least one statement is true</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">not</td>
      <td style="border: 1px solid #000; text-align: left;">Reverses the result, returns False if the result is true</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Assignment</td>
      <td style="border: 1px solid #000; text-align: left;">=</td>
      <td style="border: 1px solid #000; text-align: left;">Assign value on right to variable on left.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;" rowspan="7">Compound Assignment</td>
      <td style="border: 1px solid #000; text-align: left;">+=</td>
      <td style="border: 1px solid #000; text-align: left;">Add right operand to left and assign to left operand.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">-=</td>
      <td style="border: 1px solid #000; text-align: left;">Subtract right operand from left and assign to left operand.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">*=</td>
      <td style="border: 1px solid #000; text-align: left;">Multiply left operand by right and assign to left operand.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">/=</td>
      <td style="border: 1px solid #000; text-align: left;">Divide left operand by right and assign to left operand.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">%=</td>
      <td style="border: 1px solid #000; text-align: left;">Modulus of left by right and assign to left operand.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">//=</td>
      <td style="border: 1px solid #000; text-align: left;">Floor division of left by right and assign to left operand.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">**=</td>
      <td style="border: 1px solid #000; text-align: left;">Raise left operand to the power of right and assign to left operand.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;" rowspan="2">Membership</td>
      <td style="border: 1px solid #000; text-align: left;">in</td>
      <td style="border: 1px solid #000; text-align: left;">Checks if value is present in a sequence</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">not in</td>
      <td style="border: 1px solid #000; text-align: left;">Checks if value is NOT present in a sequence</td>
    </tr>
  </tbody>
</table>

#### Examples -

###### Ex. WAP to take 2 numbers as input and print their sum.

In [1]:
num1 = input("Enter a number - ")
num2 = input("Enter a number - ")
print(num1 + num2)

Enter a number -  5
Enter a number -  7

57

In [2]:
type(num1)

str

##### Note - input() always reads the value in str format

In [3]:
num1 = int(input("Enter a number - "))
num2 = int(input("Enter a number - "))
print(num1 + num2)

Enter a number -  5
Enter a number -  7

12

###### Ex. WAP to accept hours and rate per hour from user and compute gross pay.

In [4]:
hrs = int(input("Enter number of hours worked - "))
rate = float(input("Enter rate per hr - "))

gross_pay = hrs * rate
gross_pay  # last line will be displayed as o/p in jupyter notebook

Enter number of hours worked -  40
Enter rate per hr -  1000

40000.0

###### Ex. Convert the sales value in thousands and concate `k` as suffix

In [12]:
sales = 58973  # o/p - 53.97k
str(round(sales/1000, 2)) + "k"  # - concatenation

'58.97k'

In [19]:
sales = 58973  # o/p - 53.97k
f"{round(sales/1000, 2)}k"

'58.97k'

**Formatted Strings -** Introduced in Python 3.6, f-strings provide a more concise and readable way to format strings. You can include variables or expressions inside curly braces {} prefixed with an f.

In [21]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [22]:
sales = 58.97
math.ceil(sales)

59

In [23]:
math.floor(sales)

58

<hr><hr>

## Decision Making

**Decision-making statements in Python allow you to control the flow of execution based on certain conditions. These statements include if, elif, and else and can be used to execute different blocks of code depending on whether conditions are True or False.**

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="width: 20%; border: 1px solid #000; text-align: left;">Type</th>
      <th style="width: 30%; border: 1px solid #000; text-align: left;">Description</th>
      <th style="width: 50%; border: 1px solid #000; text-align: left;">Syntax</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Basic if Statement</td>
      <td style="border: 1px solid #000; text-align: left;">
        Evaluates a condition and executes a block of code if the condition is True.
      </td>
      <td style="border: 1px solid #000; text-align: left;">
          <code>if condition:
    # block if True</code>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">if-else Statement</td>
      <td style="border: 1px solid #000; text-align: left;">
        Executes one block if the condition is True, and another block if it is False.
      </td>
      <td style="border: 1px solid #000; text-align: left;">
<code>if condition:
    # block if True
else:
    # block if False</code>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">if-elif-else Statement</td>
      <td style="border: 1px solid #000; text-align: left;">
        Allows checking multiple expressions for True; first to evaluate as True gets executed. If none are True, the else block is run.
      </td>
      <td style="border: 1px solid #000; text-align: left;">
<code>if condition1:
    # block if condition1 is True
elif condition2:
    # block if condition2 is True
elif condition3:
    # block if condition3 is True
else:
    # block if none are True</code>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Nested if Statements</td>
      <td style="border: 1px solid #000; text-align: left;">
        Allows if statements within if statements, for hierarchical condition checks.
      </td>
      <td style="border: 1px solid #000; text-align: left;">
<code>if condition1:
    # block if condition1 is True
    if condition2:
        # block if condition2 is True
    else:
        # block if condition2 is False
else:
    # block if condition1 is False</code>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">One-Line if-else</td>
      <td style="border: 1px solid #000; text-align: left;">
        Short-hand way to write an if-else statement in a single line (ternary operator).
      </td>
      <td style="border: 1px solid #000; text-align: left;">
        <code>value_if_true if condition else value_if_false</code>
      </td>
    </tr>
  </tbody>
</table>

#### Examples -

###### Ex. WAP to accept hours and rate per hour from user and compute gross pay.
- for 40 hrs pay the standard rate
- if overtime then pay 1.5 times of rate for the additional hrs.

In [26]:
hrs = int(input("Enter number of hours worked - "))
rate = float(input("Enter rate per hr - "))

if hrs <= 40 :
    gross_pay = hrs * rate
else:
    gross_pay = (40 * rate) + ((hrs - 40) * 1.5 * rate)
print(gross_pay)

Enter number of hours worked -  45
Enter rate per hr -  1000

47500.0

###### Ex. 7up and 7down

WAP to simulate the below mentioned scenario -

1. Player enters the game with initial amount as Rs. 1,000/- 
2. Generate a random value between 1 to 14 and store it in variable "outcome"
3. if outcome = 7, player hits a jackpot and wins Rs. 1,00,00,000.
4. if outcome < 7, player looses amount by (outcome*100)
5. if outcome > 7, player earns amount by (outcome*100)
6. Print the final amount with the player.

In [34]:
import random as r 

amount = 1000
# outcome = r.choice
outcome = r.randint(1, 14)
print("Your Score - ", outcome)

if outcome < 7 :
    amount -= (outcome * 100)
elif outcome > 7 :
    amount += (outcome * 100)
else:
    print("You have got jackpot!!!")
    amount += 100000
    
print("final balance - ", amount)

Your Score -  13
final balance -  2300

In [30]:
help(r.randint) # help- gives documention of a given function

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

<hr><hr>

## Loops/Iteration

**Loops are used to execute of a specific block of code in repetitively**

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; margin-left: 0;">
  <thead>
  <tr style="text-align: center; background-color: #050A30; color: white;">
    <th style="width: 20%; border: 1px solid #000; text-align: center;">Aspect</th>
    <th style="width: 40%; border: 1px solid #000; text-align: center;">For Loop</th>
    <th style="width: 40%; border: 1px solid #000; text-align: center;">While Loop</th>
  </tr>
</thead>
  <tbody style = "text-align: left;">
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Definition</td>
      <td style="border: 1px solid #000; text-align: left;">Iterates over a sequence or iterable (like list, tuple, range).</td>
      <td style="border: 1px solid #000; text-align: left;">Repeats a block of code as long as the condition is true.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Use Case</td>
      <td style="border: 1px solid #000; text-align: left;">Use when number of iterations is known or iterable is fixed.</td>
      <td style="border: 1px solid #000; text-align: left;">Use when the number of iterations is not known beforehand.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Control</td>
      <td style="border: 1px solid #000; text-align: left;">Iterates through items automatically.</td>
      <td style="border: 1px solid #000; text-align: left;">Condition is evaluated before each iteration; loop runs while condition is true.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Risk</td>
      <td style="border: 1px solid #000; text-align: left;">Less prone to infinite loops.</td>
      <td style="border: 1px solid #000; text-align: left;">May cause infinite loops if condition never becomes

#### Continue vs Break statement

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; margin-left: 0;">
  <thead>
    <tr style="text-align: center; background-color: #050A30; color: white;">
      <th style="width: 20%; border: 1px solid #000; text-align: center;">Aspect</th>
      <th style="width: 40%; border: 1px solid #000; text-align: center;">Break Statement</th>
      <th style="width: 40%; border: 1px solid #000; text-align: center;">Continue Statement</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Purpose</td>
      <td style="border: 1px solid #000; text-align: left;">Terminates the nearest enclosing loop immediately.</td>
      <td style="border: 1px solid #000; text-align: left;">Skips the rest of the current loop iteration and moves to the next iteration.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Effect on Loop</td>
      <td style="border: 1px solid #000; text-align: left;">Exits the loop completely.</td>
      <td style="border: 1px solid #000; text-align: left;">Does not exit the loop but skips to the next iteration.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Usage Context</td>
      <td style="border: 1px solid #000; text-align: left;">Used when a condition to stop looping is met early.</td>
      <td style="border: 1px solid #000; text-align: left;">Used to skip processing certain iterations based on condition.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Typical Use Case</td>
      <td style="border: 1px solid #000; text-align: left;">Stop searching when item found in a list.</td>
      <td style="border: 1px solid #000; text-align: left;">Ignore certain values in loops (e.g., skip even numbers).</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; text-align: left;">Example</td>
      <td style="border: 1px solid #000; text-align: left;">
        <pre style="margin:0;">for i in range(1, 6):
    if i == 3:
        break
    print(i)</pre>
      </td>
      <td style="border: 1px solid #000; text-align: left;">
        <pre style="margin:0;">for i in range(1, 6):
    if i == 3:
        continue
    print(i)</pre>
      </td>
    </tr>
  </tbody>
</table>

#### Examples -

###### Ex. Modify the 7up 7down program based on following rules - 

- Ask user his choice to play again as `yes/no`.
- First round starts with amount balance as Rs. 1000. However, further rounds will be played on the balance amount generated from previous round. Example - in round 1 user earned Rs. 800. So for his next round amount will be Rs. 1,800 which is balance generated in previous round.
- The game will terminate if user -
    - choice to play again is `no`
    - hits the `jackpot`
    - has insufficient funds to play the next round.

In [40]:
import random as r 

amount = 1000
choice = "yes"

while choice == "yes" :
    outcome = r.randint(1, 14)
    print("Your Score - ", outcome)
    
    if outcome < 7 :
        amount -= (outcome * 100)
    elif outcome > 7 :
        amount += (outcome * 100)
    else:
        print("You have got jackpot!!!")
        amount += 100000
        break

    print(f"Your current balance is - {amount}.")
    choice = input("Do you wish to continue? yes/no").lower()
    
print("final balance - ", amount)

Your Score -  5
Your current balance is - 500.

Do you wish to continue? yes/no yes

Your Score -  13
Your current balance is - 1800.

Do you wish to continue? yes/no yes

Your Score -  1
Your current balance is - 1700.

Do you wish to continue? yes/no yes

Your Score -  6
Your current balance is - 1100.

Do you wish to continue? yes/no yes

Your Score -  10
Your current balance is - 2100.

Do you wish to continue? yes/no yes

Your Score -  3
Your current balance is - 1800.

Do you wish to continue? yes/no yes

Your Score -  8
Your current balance is - 2600.

Do you wish to continue? yes/no yes

Your Score -  5
Your current balance is - 2100.

Do you wish to continue? yes/no yes

Your Score -  7
You have got jackpot!!!
final balance -  102100

#### range( `[start], stop, [step]`)

- `start` - Optional. An integer number specifying at which position to start. Default is 0
- `stop` - Required. An integer number specifying at which position to end.




- `step` - Optional. An integer number specifying the incrementation. Default is 1

###### Ex. WAP to print square of each number in range 1 - 10

In [42]:
range(1, 11) # generates sequence of numbers from 1 to 10

range(1, 11)

In [43]:
list(range(1, 11)) # range sequence object converted to list object

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
for i in range(1, 11) :
    print(i, " - ", i**2)

1  -  1
2  -  4
3  -  9
4  -  16
5  -  25
6  -  36
7  -  49
8  -  64
9  -  81
10  -  100

###### Ex. WAP to perform summation and product of first 10 natural numbers

In [46]:
total = 0 
for i in range(1, 11) :
    total += i
total

55

In [47]:
sum(range(1, 11))

55

In [48]:
import math
math.prod(range(1, 11))

3628800

###### Ex. WAP to calculate total amount credited to the account and total amount debited from account based on following transactions -

In [49]:
transactions = [2000, -500, 1500, -1200, -100, 3000]
amt_c = 0 
amt_d = 0

for amt in transactions :
    if amt > 0 :
        amt_c += amt
    else:
        amt_d += abs(amt)
print(f"Amount Credited - Rs. {amt_c} and Amount debited - Rs. {amt_d}")

Amount Credited - Rs. 6500 and Amount debited - Rs. 1800

###### Ex. WAP to check if Jack is member of the list or not?

In [50]:
names = ["Jack", "Jane", "Rosie", "Sam"]
"Jack" in names

True

In [51]:
"George" in names

False

<hr><hr>

## Sequence objects or Iterables

- collection of elements - str, range(), enumerate(), zip(), map(), filter()
- Container sequences/Objects  - list, tuple, dict, set
- Note -  range(), enumerate(), zip(), map(), filter() - these are generating non-readable output when printed.
- Note - Any sequence can be converted to list/tuple
 

#### `Operations on Generic Sequences`
    - Membership - in | not in
    - Iteration - for-loop`

#### `Operations on Ordered/Indexed Sequences`
    - Indexing - obj[index_pos]
    - Slicing - obj[start : stop]
    - Concatenation - `+` operator
    - Repeatition - `*` operator

#### `Functions on Generic Sequences`
     - len() - gives the number of elements in the sequence
     - max() - gives the largest element in the sequence
     - min() - gives the smallest element in the sequence
     - sum() - applicable to numeric sequences, returns the sum of all elements in the sequence
     - math.prod() - applicable to numeric sequences, returns the product of all elements in the sequence
     - sorted() - sorts the elements in the sequence in ASC order and returns a list object

### Python Sequences and Containers

<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: center;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="border: 1px solid #ccc; padding: 8px;">Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Container Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Sequence Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Element Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Enclosed in</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Immutability</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Duplicates</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">str()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">characters</td>
      <td style="border: 1px solid #ccc; padding: 8px;">"" or ''</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">tuple()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">list()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">[]</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">set()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">heterogeneous (immutable objects)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">dict()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - immutable<br>Value - any type</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - No<br>Value - Yes</td>
    </tr>

#### Operations on Indexed Sequences - Indexing and Slicing

- Each character in a string has a unique index, starting from 0 for the first character up to n-1 for the last character, where n is the length of the string.

- **Positive Indexing** - Positive indexing starts from 0 and goes up to n-1.
    - Index 0 corresponds to the first character.
    - Index 1 corresponds to the second character, and so on.
      
- **Negative Indexing** - Negative indexing starts from -1 for the last character and goes up to -n for the first character.
    - Index -1 corresponds to the last character.
    - Index -2 corresponds to the second last character, and so on.
      
- **Accessing Substrings** - You can also use slicing to access substrings. The syntax for slicing is `string[start:stop:step]` , where:
    - start is the starting index (inclusive).
    - stop is the ending index (exclusive).
    - step is the step size (optional).

###### Ex. Get the first 4-letter product category code

In [52]:
sku = "ELEC-2025-00123"
sku[0]

'E'

In [53]:
sku[-1]

'3'

In [54]:
sku[0:4]

'ELEC'

In [56]:
sku[5 : ] # position 5 onwards

'2025-00123'

In [58]:
sku[-5 : ]

'00123'

In [59]:
route = ["Delhi", "Agra", "Kanpur", "Lucknow", "Varanasi"]
route[1]

'Agra'

In [60]:
"Agra" in route

True

In [62]:
"A" in route

False

###### Ex. Reverse the words in the list

In [64]:
route = ["Delhi", "Agra", "Kanpur", "Lucknow", "Varanasi"]
route.reverse()
route

['Varanasi', 'Lucknow', 'Kanpur', 'Agra', 'Delhi']

In [66]:
route = ["Delhi", "Agra", "Kanpur", "Lucknow", "Varanasi"]
route[::-1] # reverse any ordered sequence

['Varanasi', 'Lucknow', 'Kanpur', 'Agra', 'Delhi']

In [68]:
sorted(route)[::-1]

['Varanasi', 'Lucknow', 'Kanpur', 'Delhi', 'Agra']

In [70]:
sorted(route, reverse=True) # sorts the list in DESC order

['Varanasi', 'Lucknow', 'Kanpur', 'Delhi', 'Agra']

##### Note - Everything in python is an object

In [72]:
x = 10
print(type(x))

<class 'int'>

#### Methods in Python

In Python, **methods** are functions that are associated with objects and can be called on those objects to perform specific operations. When we talk about methods with respect to data types like lists, strings, and dictionaries, these methods allow you to manipulate and interact with the data in those objects in useful ways.

- **List Methods:**  
  Lists are ordered, mutable sequences. List methods let you modify the list, add or remove elements, or query its contents. For example, methods like `.append()`, `.remove()`, `.extend()`, `.pop()`, `.sort()`, and `.reverse()` allow you to efficiently manage list items.

- **String (str) Methods:**  
  Strings are immutable sequences of characters. String methods enable you to manipulate text, such as changing case (`.upper()`, `.lower()`), searching and replacing (`.find()`, `.replace()`), splitting and joining (`.split()`, `.join()`), trimming whitespace (`.strip()`), and formatting (`.format()`).

- **Dictionary (dict) Methods:**  
  Dictionaries are unordered collections of key-value pairs. Dictionary methods allow you to access, update, or modify these pairs. Common methods include `.keys()`, `.values()`, `.items()`, `.get()`, `.pop()`, `.update()`, and `.clear()`.

In summary, **methods are built-in functions tailored for the data type that allow you to perform actions and manipulate the data efficiently without needing to write those functions from scratch.**

In [73]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#### Examples -

###### Ex. WAP to convert the given sales value to int. profit = ($1,200)

In [78]:
profit = "($1,200)"  # o/p - 1200
int(profit.replace("(", "-").replace("$", "").replace(",", "").replace(")", ""))

-1200

In [84]:
profit = "-$1,200"
trans_obj = str.maketrans("(", "-", "$,)")
int(profit.translate(trans_obj))

-1200

###### Ex. WAP to replace all the vowels in the string with *

In [85]:
strg = "singapore"
trans_obj = str.maketrans("aeiou", "*****")
strg.translate(trans_obj)

's*ng*p*r*'

In [91]:
strg = "singapore"
for ch in "aeiou" :
    strg = strg.replace(ch, "*")
strg

's*ng*p*r*'

In [89]:
strg.replace("a", "*")

'sing*pore'

In [90]:
strg

'singapore'

##### Note - str is immutable

#### Tuples

In [92]:
tup = (1, 2, 3, 4)
tup

(1, 2, 3, 4)

In [93]:
tup[0]

1

#### Lists

In [94]:
route = ["Delhi", "Agra", "Kanpur", "Lucknow", "Varanasi"]

In [95]:
route[0]

'Delhi'

In [96]:
route.append("Mumbai")
route

['Delhi', 'Agra', 'Kanpur', 'Lucknow', 'Varanasi', 'Mumbai']

In [97]:
route.pop()
route

['Delhi', 'Agra', 'Kanpur', 'Lucknow', 'Varanasi']

In [98]:
route.remove("Agra")
route

['Delhi', 'Kanpur', 'Lucknow', 'Varanasi']

In [100]:
route.sort() # method - sort the original list
route

['Delhi', 'Kanpur', 'Lucknow', 'Varanasi']

In [101]:
sorted(route) # function returns a new list obj

['Delhi', 'Kanpur', 'Lucknow', 'Varanasi']

In [102]:
sorted("delhi")

['d', 'e', 'h', 'i', 'l']

#### Dictionaries

In [103]:
countries = {"India" : "INR", "UK" : "GBP", "USA" : "USD"}

In [104]:
countries["India"]

'INR'

In [105]:
countries["Japan"]

KeyError: 'Japan'

In [106]:
countries.get("India")

'INR'

In [109]:
print(countries.get("Japan"))

None

In [110]:
print(countries.get("Japan", "country not present"))

country not present

In [112]:
countries = {"India" : "INR", "UK" : "GBP", "USA" : "USD"}
for i in countries :
    print(i, " - ", countries[i])

India  -  INR
UK  -  GBP
USA  -  USD

In [114]:
countries.items() # generates a sequence of tuples of key value pairs

dict_items([('India', 'INR'), ('UK', 'GBP'), ('USA', 'USD')])

In [117]:
for i in countries.items():
    print(i[0], " - ", i[1])

India  -  INR
UK  -  GBP
USA  -  USD

### Python `str` methods

<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: left;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="width: 20%"">Method</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>lower()</code></td>
      <td>Converts string to lowercase.</td>
      <td><code>"Hello".lower()</code> → <code>"hello"</code></td>
    </tr>
    <tr>
      <td><code>upper()</code></td>
      <td>Converts string to uppercase.</td>
      <td><code>"Hello".upper()</code> → <code>"HELLO"</code></td>
    </tr>
    <tr>
      <td><code>title()</code></td>
      <td>Converts string to title case.</td>
      <td><code>"hello world".title()</code> → <code>"Hello World"</code></td>
    </tr>
    <tr>
      <td><code>capitalize()</code></td>
      <td>Capitalizes the first letter.</td>
      <td><code>"python".capitalize()</code> → <code>"Python"</code></td>
    </tr>
    <tr>
      <td><code>strip()</code></td>
      <td>Removes leading and trailing spaces.</td>
      <td><code>"  hello  ".strip()</code> → <code>"hello"</code></td>
    </tr>
    <tr>
      <td><code>lstrip()</code></td>
      <td>Removes leading spaces.</td>
      <td><code>"  hello".lstrip()</code> → <code>"hello"</code></td>
    </tr>
    <tr>
      <td><code>rstrip()</code></td>
      <td>Removes trailing spaces.</td>
      <td><code>"hello  ".rstrip()</code> → <code>"hello"</code></td>
    </tr>
    <tr>
      <td><code>replace(old, new)</code></td>
      <td>Replaces occurrences of a substring.</td>
      <td><code>"hello world".replace("world", "Python")</code> → <code>"hello Python"</code></td>
    </tr>
    <tr>
      <td><code>split(sep)</code></td>
      <td>Splits string into a list.</td>
      <td><code>"a,b,c".split(",")</code> → <code>['a','b','c']</code></td>
    </tr>
    <tr>
      <td><code>join(iterable)</code></td>
      <td>Joins iterable items into a string.</td>
      <td><code>",".join(["a","b","c"])</code> → <code>"a,b,c"</code></td>
    </tr>
    <tr>
      <td><code>find(sub)</code></td>
      <td>Returns index of first occurrence, or <code>-1</code>.</td>
      <td><code>"hello".find("e")</code> → <code>1</code></td>
    </tr>
    <tr>
      <td><code>index(sub)</code></td>
      <td>Returns index of first occurrence (raises error if not found).</td>
      <td><code>"hello".index("e")</code> → <code>1</code></td>
    </tr>
    <tr>
      <td><code>count(sub)</code></td>
      <td>Counts occurrences of substring.</td>
      <td><code>"banana".count("a")</code> → <code>3</code></td>
    </tr>
    <tr>
      <td><code>startswith(prefix)</code></td>
      <td>Checks if string starts with given prefix.</td>
      <td><code>"hello".startswith("he")</code> → <code>True</code></td>
    </tr>
    <tr>
      <td><code>endswith(suffix)</code></td>
      <td>Checks if string ends with given suffix.</td>
      <td><code>"hello".endswith("lo")</code> → <code>True</code></td>
    </tr>
    <tr>
      <td><code>isalnum()</code></td>
      <td>True if all characters are alphanumeric.</td>
      <td><code>"abc123".isalnum()</code> → <code>True</code></td>
    </tr>
    <tr>
      <td><code>isalpha()</code></td>
      <td>True if all characters are alphabets.</td>
      <td><code>"hello".isalpha()</code> → <code>True</code></td>
    </tr>
    <tr>
      <td><code>isdigit()</code></td>
      <td>True if all characters are digits.</td>
      <td><code>"1234".isdigit()</code> → <code>True</code></td>
    </tr>
    <tr>
      <td><code>islower()</code></td>
      <td>True if all letters are lowercase.</td>
      <td><code>"hello".islower()</code> → <code>True</code></td>
    </tr>
    <tr>
      <td><code>isupper()</code></td>
      <td>True if all letters are uppercase.</td>
      <td><code>"HELLO".isupper()</code> → <code>True</code></td>
    </tr>
    <tr>
      <td><code>swapcase()</code></td>
      <td>Swaps lowercase and uppercase characters.</td>
      <td><code>"Hello".swapcase()</code> → <code>"hELLO"</code></td>
    </tr>
    <tr>
      <td><code>zfill(width)</code></td>
      <td>Pads string with leading zeros to given width.</td>
      <td><code>"42".zfill(5)</code> → <code>"00042"</code></td>
    </tr>
    <tr>
      <td><code>center(width, char)</code></td>
      <td>Centers string with given width and fill character.</td>
      <td><code>"hi".center(5, "*")</code> → <code>"**hi*"</code></td>
    </tr>
    <tr>
      <td><code>format()</code></td>
      <td>Formats string using placeholders.</td>
      <td><code>"Hello {}".format("World")</code> → <code>"Hello World"</code></td>
    </tr>
    <tr>
      <td><code>f-strings</code></td>
      <td>Inline variable interpolation (Python 3.6+).</td>
      <td><code>name="John"; f"Hello {name}"</code> → <code>"Hello John"</code></td>
    </tr>
  </tbody>
</table>

### Python Lists, Tuple, Dict - Cheasheet

<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: left;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th class="topic"style="width: 10%"">Topic</th>
      <th>List (<code>list</code>)</th>
      <th>Tuple (<code>tuple</code>)</th>
      <th>Dictionary (<code>dict</code>)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="topic">Nature</td>
      <td>Mutable, ordered, allows duplicates.</td>
      <td>Immutable, ordered, allows duplicates. Faster & memory-efficient.</td>
      <td>Mutable, key–value mapping. Insertion order preserved (3.7+).</td>
    </tr>
    <tr>
      <td class="topic">Create</td>
      <td><pre><code>nums = [1, 2, 3]
mixed = [1, "a", True, 3.5]
empty = list()</code></pre></td>
      <td><pre><code>t1 = (1, 2, 3)
t2 = tuple([4, 5])
single = (10,)</code></pre></td>
      <td><pre><code>person = {"name": "John", "age": 30}
person2 = dict(name="Alice", age=25)
empty = {}</code></pre></td>
    </tr>
    <tr>
      <td class="topic">Add / Remove</td>
      <td><pre><code>nums.append(5)
nums.insert(2, 10)
nums.extend([6, 7])
nums.remove(10)
nums.pop()      # last
nums.pop(1)     # by index
nums.clear()</code></pre></td>
      <td>N/A (immutable)</td>
      <td><pre><code>person["age"] = 31 # add/update
del person["age"]
person.pop("name")
person.clear()</code></pre></td>
    </tr>
    <tr>
      <td class="topic">Access / Slice</td>
      <td><pre><code>nums[0], nums[-1]
nums[1:3]
nums[::-1]</code></pre></td>
      <td><pre><code>t1[0], t1[-1]
t1[1:3]</code></pre></td>
      <td><pre><code>person["name"]
person.get("email", "N/A")</code></pre></td>
    </tr>
    <tr>
      <td class="topic">Search / Check</td>
      <td><pre><code>3 in nums
nums.index(3)
nums.count(3)</code></pre></td>
      <td><pre><code>2 in t1
t1.index(3)
t1.count(2)</code></pre></td>
      <td><pre><code>"name" in person
"salary" not in person</code></pre></td>
    </tr>
    <tr>
      <td class="topic">Sort / Reverse</td>
      <td><pre><code>nums.sort()
nums.sort(reverse=True)
sorted_nums = sorted(nums)
nums.reverse()</code></pre></td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <td class="topic">Iterate</td>
      <td><pre><code>for x in nums: ...
for i, x in enumerate(nums): ...</code></pre></td>
      <td><pre><code>for x in t1: ...
for i, x in enumerate(t1): ...</code></pre></td>
      <td><pre><code>for k in person: ...
for v in person.values(): ...
for k, v in person.items(): ...</code></pre></td>
    </tr>

#### Examples -

###### Ex. WAP to extract only the error messages from the list. Display only the message removing ERROR keyword from the message

In [ ]:
logs = ["INFO: Service started", "ERROR: Timeout", "INFO: Connection established", "ERROR: Invalid input"]

###### Ex. WAP to generate a list of all devices that are currently "Offline"

In [ ]:
devices = {"Router": "Online", "Switch": "Offline", "Firewall": "Online", "AccessPoint": "Offline"}

###### Ex. Write a program to combine two lists, one containing product names and the other containing sales figures, to generate a consolidated report.

In [2]:
# Lists containing product names and their corresponding sales figures
products = ["Laptop", "Smartphone", "Headphones", "Keyboard"]
sales = [150, 300, 120, 90]

**zip(`list1`, `list2`, ...)**
- the zip() function is used to combine multiple iterables (such as lists, tuples, or strings) into a single iterable of tuples.
- Each tuple contains elements from the input iterables at corresponding positions.
- It effectively "zips" together the elements from the provided iterables, creating pairs (or n-tuples) of elements.

## Packing/Unpacking of Tuples -

- In Python, unpacking of tuples refers to the process of assigning the individual elements of a tuple to multiple variables in a single statement.
- This feature allows you to extract values from a tuple and assign them to distinct variables in a convenient and readable way.

#### Applications -

**1. Defining multiple variables in a single line**

**2. Function returning multiple values**

**3. for-loop with multiple variables**

Ex. Each sub-tuple contains defect counts in three categories for a batch of products, with each count representing a different defect type. Calculate and display the total defect percentage for each batch with batch numbers.

In [ ]:
# Sample data: each sub-tuple contains defect counts in three categories for a batch of products
defect_data = (
    (5, 3, 2),  # Batch 1
    (1, 4, 0),  # Batch 2
    (7, 6, 3),  # Batch 3
    (2, 1, 1)   # Batch 4
)

# Total number of products in each batch
total_products_per_batch = 80

**enumerate(`seq`, `start = 0`)**
- The enumerate() function adds a counter to an iterable (such as a list, tuple, or string) and returns it as an enumerate object(sqe object).
- Enumerate object - sequence of tuples of size 2; with first element as the counter and second element is the element from iterable.
##### Note - enumerate object is not readable when printed. But can be iterated using for-loop or can be converted to a list/tuple

## Comprehensions in Python

- A **`comprehension`** is a concise and readable way to create and manipulate collections such as lists, dictionaries, and sets.
- Comprehensions provide a compact syntax to generate new sequences by applying an expression to each item in an existing sequence or iterable.
- Syntax - `[<expression> for <var> in <sequence> if <condition>]`
- The steps to work on a comprehension:
    1. Identify the iterable or sequence.
    2. Determine any conditions or filters.
    3. Define the expression or operation to apply.
    4. Specify the target mutable data structure.
- Note - Does not work with while loop, break and continue statements

###### Ex. WAP to generate a list of squares of number in range of 1-10

###### Ex. WAP to create a list of squares of even number in range of 1-10

###### Ex. WAP to create a dict of number from 1-10 as keys and their squares as values

###### Ex. WAP to create a dict of number from 1-5 as keys and their type as even/odd as value

###### Ex. WAP to add 7% service tax to all the values in the "sales" list

In [ ]:
sales = [290, 500, 800, 650]

###### Ex. WAP to sum all the values in the "sales" tuple

In [ ]:
sales = ("$290", "$500", "$800", "$650")

###### Ex. Identify products with low stock levels.

In [ ]:
inventory = {"apple": 50, "banana": 10, "cherry": 75, "date": 5}

###### Ex. Calculate the average performance score of employees.

In [ ]:
performance = { "John": [85, 90, 78], "Jane": [92, 88, 95], "Alice": [80, 85, 87]}

###### Ex. Calculate the percentage change in stock prices.

In [ ]:
# List of stock prices over time - ((new-old) / old) * 100
stock_prices = [95, 105, 118, 112, 120]

<hr><hr>

## Function Arguments

**Function arguments in Python are the inputs passed to a function to enable it to perform its intended operation.**

### **Types of Function Arguments**

1. **Positional Arguments**  
   - These are the most common type.
   - Passed in order, matching the function's parameters.

2. **Default Arguments**  
   - Predefined values are set; they are optional while calling the function.

3. **Keyword Arguments**  
   - Arguments passed with the name of the parameter explicitly.
   - Useful for clarity and flexibility in function calls.

4. **Variable-Length Arguments**
   - **`*args` (Non-Keyword Arguments):** Allows passing a variable number of arguments as a tuple.
     ```
   - **`**kwargs` (Keyword Arguments):** Allows passing variable keyword arguments as a dictionary.

**Key Notes**
- **Order Matters:** Positional arguments must precede keyword arguments.
- **Packing/Unpacking:** `*` and `**` are used to pack or unpack arguments, making functions more versatile.
- **Default vs Non-Default:** Non-default arguments must come first when defining functions.

#### 1. Required Positional Arguments

#### 2. Default Arguments

#### 3. Variable- length Arguments

#### 4. Key-word Argument

#### 5. Variable-length key-word Argument

### Significance of `/` and `*` in function definition

- **`/`** - All the arguments before `/` must be position only
- **`*`** - All the arguments after `*` must be key-word only

In [ ]:
def demo(name, age) :
     print(f"Name - {name} | Age - {age}")

demo("Jane", 20)  # Both position only
demo(name = "Jane", age = 20) # Both key-word
demo("Jane", age = 30)  # name - position and age - key-word

In [ ]:
def demo(name, *, age) :
     print(f"Name - {name} | Age - {age}")

demo("Jane", age = 30)  # 
demo(name = "Jane", age = 20) # 
demo("Jane", 20)  # Error

In [ ]:
def demo(name, /, age) :
     print(f"Name - {name} | Age - {age}")

demo("Jane", 20)  # 
demo("Jane", age = 30)  # 
demo(name = "Jane", age = 20) # Error

### Function Object

- In Python, a function object refers to the fact that functions are first-class citizens—they are treated like any other object.
- This means: A function object is an instance of the built-in function class created when a def statement or a lambda expression is executed.
- A function object can be:
    - Pass it to other functions,    
    - Assign it to variables,    
    - Store in data structures,    
    - Return it from another function.

#### function definition/implemenation

In [ ]:
def func(a, b):  # -> function definition
    if a < b :
        return a
    else:
        return b

#### function call

In [ ]:
# function call

#### function object

In [ ]:
# function object

### Applilcations of Function Object

###### Ex. WAP to sort a list of strings as per the last character.

In [ ]:
names = ["flight", "bike", "car",  "train"]

### Lambda Function

- A lambda function in Python is a concise, unnamed function created using the `lambda` keyword.  
- Unlike regular functions defined with `def`, lambda functions can accept multiple parameters but are limited to a single expression that is implicitly returned.  
- They are commonly used for short, simple operations that are needed temporarily, often defined inline without the need for a formal function definition.
- Syntax of Lambda Function – 

  <b>lambda *parameters* : *expression*</b>

###### Ex. WAP to sort the list of tuples by sum of each subtuple

In [ ]:
students_marks = [(13, 19, 15), (20, 12, 18), (16, 11, 14), (16, 20, 13), (15, 10, 19)]

###### Ex. WAP to display the student details in sorted order of their marks.

In [ ]:
students = {"Jane" : 40, "Max" : 50, "Sam" : 45, "Mary" : 70}

##### Note - 
- There are many functions like sorted which take function object as an argument. 
- Use a built-in function if available, else defined a custom function. 
- If the logic for custom function is one-liner use lambda function else use standard user-defined function

<hr><hr>

## Exception Handling

It may be convenient to recognize the problems in your python code before you put it to real use. But that does not always happen. Sometimes, problems show up when you run the code; sometimes, midway of that. A Python exception is an error that's detected during execution. 

##### Python does not provide any compile time Exception Handling. Developer has to proactively recognize the need for exception handling.

- What are Errors and Exceptions
- Handling Exceptions
- Defining Clean-up Actions
- Predefined Clean-up Actions
- Raising Exceptions

#### Syntax Error

In [ ]:
for i in range(5) 
   print(i)

In [ ]:
for i in range(5) :
print(i)

### Exception 
Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions and are not unconditionally fatal

#### ZeroDivisionError

In [ ]:
a, b = 1, 0
print(a/b)

#### ValueError

In [ ]:
int("abcd")

#### NameError

In [ ]:
print(z)

#### FileNotFoundError

In [ ]:
open("abc.txt")

#### TypeError

In [ ]:
"2" + 2

In [ ]:
def func(a):
    pass

func()

#### IndexError

In [ ]:
l = [1,2,3]
l[10]

#### KeyError

In [ ]:
d = {1:2, 3:4}
d["abc"]

#### ModuleNotFoundError

In [ ]:
import math1

#### AttributeError

In [ ]:
import math
math.sq1()

In [ ]:
string = "abcd"

string.UPPER()

In [ ]:
print(dir(__builtins__))

### Handling Exceptions

#### *try* :

    #risky code
    
#### *except <Exception name>*:

    #code to handle error
    
#### *else*:
   
    #executed if everything goes fine
    
#### *finally*:
   
    #gets executed in either case.

### Rasie an Exception

<hr><hr>

## Regular Expressions

Regular expressions are used for matching text patterns for searching, replacing and parsing text 
with complex patterns of characters.

Regexes are used for four main purposes - 
- To validate if a text meets some criteria; Ex. a zip code with 6 numeric digits 
- Search substrings. Ex. finding texts that ends with abc and does not contain any digits 
- Search & replace everywhere the match is found within a string; Ex. search "fixed deposit" and replace with "term deposit" 
- Split a string at each place the regex matches; Ex. split everywhere a @ is encountered

#### Raw python string

It is recommended that you use raw strings instead of regular Python strings. Raw strings begin with a prefix, r, placed before the quotes

In [ ]:
print("ABC \n PQR")

In [ ]:
print(r"ABC \n PQR")

In [ ]:
open(r"C:\users\newfolder\file.txt")

#### Importing re module

In [ ]:
import re

#### Functions in re Module
The "re" module offers functionalities that allow us to match/search/replace a string 

- `re.match()` - The match only if it occurs at the beginning of the string 
- `re.search()` - First occurrence of the match if there is a match anywhere in the string  
- `re.findall()` - Returns a list containing all matches in the string 
- `re.split()` - Returns a list where the string has been split at each match 
- `re.sub()` - Replaces one or many matches with a string 
- `re.finditer()` - Returns a collectable iterator yielding all non-overlapping matches

In [ ]:
text = "India celebrates its independence day on 15th August"
re.match(r"[A-z]+\b", text)  # returns a match object

In [ ]:
text = "India celebrates its independence day on 15th August"
re.search(r"[0-9]+", text)  # returns a match object

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; margin-left: 0;">
  <thead>
    <tr style="text-align: center; background-color: #050A30; color: white;">
      <th style="width: 15%; border: 1px solid #000; text-align: center;">Category</th>
      <th style="width: 15%; border: 1px solid #000; text-align: center;">Regex</th>
      <th style="width: 60%; border: 1px solid #000; text-align: left;">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #000;">Basic Characters</td>
      <td style="border: 1px solid #000; text-align: center;">^</td>
      <td style="border: 1px solid #000; text-align: left;">Matches expression to its right at start of string; matches before each line break</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">$</td>
      <td style="border: 1px solid #000; text-align: left;">Matches expression to its left at end of string; matches before each line break</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">p|q</td>
      <td style="border: 1px solid #000; text-align: left;">Matches expression p or q</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;">Character Classes</td>
      <td style="border: 1px solid #000; text-align: center;">\w</td>
      <td style="border: 1px solid #000; text-align: left;">Matches alphanumeric characters: a-z, A-Z, 0-9, and _</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\W</td>
      <td style="border: 1px solid #000; text-align: left;">Matches non-alphanumeric characters; excludes a-z, A-Z, 0-9, and _</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\d</td>
      <td style="border: 1px solid #000; text-align: left;">Matches digits: 0-9</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\D</td>
      <td style="border: 1px solid #000; text-align: left;">Matches non-digit characters</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\s</td>
      <td style="border: 1px solid #000; text-align: left;">Matches whitespace characters (space, tab, newline, carriage return)</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\S</td>
      <td style="border: 1px solid #000; text-align: left;">Matches non-whitespace characters</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\A</td>
      <td style="border: 1px solid #000; text-align: left;">Matches expression at absolute start of string</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\t</td>
      <td style="border: 1px solid #000; text-align: left;">Matches tab character</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\Z</td>
      <td style="border: 1px solid #000; text-align: left;">Matches expression at absolute end of string</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\n</td>
      <td style="border: 1px solid #000; text-align: left;">Matches newline character</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\b</td>
      <td style="border: 1px solid #000; text-align: left;">Matches word boundary at start/end of a word</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">\B</td>
      <td style="border: 1px solid #000; text-align: left;">Matches non-word boundary</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;">Groups and Sets</td>
      <td style="border: 1px solid #000; text-align: center;">[abc]</td>
      <td style="border: 1px solid #000; text-align: left;">Matches either a, b, or c (not the sequence "abc")</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">[a\-z]</td>
      <td style="border: 1px solid #000; text-align: left;">Matches a, -, or z (dash escaped literally)</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">[^abc]</td>
      <td style="border: 1px solid #000; text-align: left;">Matches any character NOT a, b, or c</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">()</td>
      <td style="border: 1px solid #000; text-align: left;">Groups the expression inside parentheses</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">[a-z]</td>
      <td style="border: 1px solid #000; text-align: left;">Matches any alphabet character from a to z</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">[a-z0-9]</td>
      <td style="border: 1px solid #000; text-align: left;">Matches characters from a to z and digits 0 to 9</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">[(+*)]</td>
      <td style="border: 1px solid #000; text-align: left;">Special characters become literal inside a set: matches (, +, *, and )</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">(?P=name)</td>
      <td style="border: 1px solid #000; text-align: left;">Matches the expression matched earlier by named group "name"</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;">Quantifiers</td>
      <td style="border: 1px solid #000; text-align: center;">.</td>
      <td style="border: 1px solid #000; text-align: left;">Matches any character except newline</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">?</td>
      <td style="border: 1px solid #000; text-align: left;">Matches preceding expression 0 or 1 times</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">{n}</td>
      <td style="border: 1px solid #000; text-align: left;">Matches preceding expression exactly n times</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">{,m}</td>
      <td style="border: 1px solid #000; text-align: left;">Matches preceding expression up to m times</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">*</td>
      <td style="border: 1px solid #000; text-align: left;">Matches preceding expression 0 or more times</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">+</td>
      <td style="border: 1px solid #000; text-align: left;">Matches preceding expression 1 or more times</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">{n,m}</td>
      <td style="border: 1px solid #000; text-align: left;">Matches preceding expression between n and m times</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000; text-align: center;">{n, }</td>
      <td style="border: 1px solid #000; text-align: left;">Matches preceding expression n or more times</td>
    </tr>
  </tbody>
</table>

#### Examples -

###### Ex. Extract all digits from the text

In [ ]:
text = "The stock price was 456 yesterday. Today, it rose to 564"

###### Ex. Extract all numbers from the text

In [ ]:
text = "The stock price was 456 yesterday. Today, it rose to 564"

###### Ex. Retrive the dividend from the text

In [ ]:
text = "On 25th March, the company declared 17% dividend."

###### Ex. Retrive all stock names

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"

###### Ex. Retrieve the phone numbers without country code

In [ ]:
text = "My number is 65-11223344 and 65-91919191. My other number is 44332211"

###### Ex. Replace values as given in the dict

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"
repl_dict = {"AAPL": "APPLE", "GOOGL": "GOOGLE"}

<hr><hr>

## Object Oriented Programing

**1. Classes**: Blueprints for creating objects that encapsulate data and behavior.

**2. Objects**: Instances of classes representing real-world entities with attributes and methods.

**3. Attributes**: Variables associated with an object or class that store data/state.

**4. Methods**: Functions defined inside a class that describe behaviors or actions of an object.

**5. The `__init__` method**: Special constructor method used to initialize new objects with specific values.

**6. Encapsulation**: Mechanism to restrict direct access to some attributes/methods using access modifiers (public, protected, private).

**7. Inheritance**: Ability of a class (child) to inherit attributes and methods from another class (parent), promoting code reuse.

**8. Polymorphism**: Concept where different classes can have methods with the same name but different implementations.

**9. Abstraction**: Hiding complex implementation details and showing only essential features through interfaces.

**10. Self parameter**: Refers to the instance calling the method, allowing access to instance attributes and other methods within the class.

#### HTTPS Requests

In [ ]:
!pip install requests

In [ ]:
import requests

###### Ex. Read file `customers.txt` from github

###### Ex. Print numbers of lines in the file

###### Ex. Clean data read from the file and extract information about all `Pilots`.

###### Ex. Create a list of Pilots

<hr><hr>